<%- include ('header'); -%>

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h3 class="mt-4"></h3>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active"><h4>Tabel Data Penyewa</h4></li>
            </ol>
            <div class="card mb-4">
                <div class="card-header"><button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModalAdd"> <i class="fas fa-plus fa-sm"></i> Tambah Data</button></div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th>Id</th>
                                    <th>Nama</th>
                                    <th>Gender</th>
                                    <th>Alamat</th>
                                    <th>Telephone</th>
                                    <th colspan="3">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(data.length) {
                                    for(var i = 0; i < data.length; i++) { %>
                               <tr>
                                <th scope="row"><%= (i+1) %></th>
                                 <td><%= data[i].id_penyewa %></td>
                                 <td><%= data[i].nm_penyewa %></td>
                                 <td><%= data[i].jk %></td>
                                 <td><%= data[i].alamat_penyewa %></td>
                                 <td><%= data[i].no_hp %></td>
                                 <td>
                                   <a href="/update/<%=data[i].id%>" class="btn btn-sm btn-info edit mb-1" data-toggle="modal" data-target="#EditModal"><i class="fa fa-pencil-alt"></i></a><br>
                                   <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ product_id }}"><i class="fa fa-trash-alt"></i></a>
                                 </td>
                               </tr>
                               <% }
                               
                            }else{ %>
                                <tr>
                                    <td colspan="5">Tidak ada uer</td>
                                </tr>
                               <% } %>
                             </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </main>

    	<!-- Add New Product Modal-->
	  <form action="/save" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Input Data Penyewa</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <div class="form-group">
                   <input type="text" name="id_penyewa" class="form-control" placeholder="Id Penyewa" required>
               </div>

               <div class="form-group">
                   <input type="text" name="nm_penyewa" class="form-control" placeholder="Masukan Nama " required>
               </div>
               <div class="form-group">
                <input type="text" name="jk" class="form-control" placeholder="Gender " required>
            </div>
            <div class="form-group">
                <input type="text" name="alamat_penyewa" class="form-control" placeholder="Alamat " required>
            </div>
            <div class="form-group">
                <input type="text" name="no_hp" class="form-control" placeholder="Telephone " required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
            </div>
           </div>
         </div>
        </div>
	 </form>

     <!-- Edit Product Modal-->
   <form action="/update" method="post">
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLabel">Edit Data Penyewa</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           <div class="form-group">
               <input type="text" name="nm_penyewa" class="form-control" value="<% nm_penyewa %>" placeholder="Nama Penyewa" required>
           </div>

           <div class="form-group">
               <input type="text" name="jk" class="form-control"value="jk" placeholder="Gender" required>
           </div>
           <div class="form-group">
            <input type="text" name="alamat_penyewa"class="form-control"value="alamat_penyewa" placeholder="Alamat" required>
        </div>
        <div class="form-group">
          <input type="text" name="no_hp" class="form-control"value="no_hp" placeholder="Telephone" required>
      </div>
         </div>
         <div class="modal-footer">
           <input type="hidden" name="id_penyewa" class="nm_penyewa">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           <button type="submit" class="btn btn-primary">Update</button>
         </div>
       </div>
     </div>
    </div>
</form>

  <!-- Delete Product Modal-->
    <form id="add-row-form" action="/delete" method="post">
       <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                                      <h5 class="modal-title" id="myModalLabel">Delete Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 </div>
                 <div class="modal-body">
                                              <strong>Are You Sure To Delete This Data?</strong>
                 </div>
                 <div class="modal-footer">
                                          <input type="hidden" name="product_id" class="form-control product_id2" required>
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Delete</button>
                 </div>
                    </div>
          </div>
       </div>
   </form>

<script src="/assets/js/jquery-3.3.1.js"></script>
<script src="/assets/js/bootstrap.js"></script>
<script>
 $(document).ready(function(){
         //showing data to modal for edit record
   $('#dataTable').on('click','.edit',function(){
     var id_penyewa= $(this).data('id_penyewa');
     var nm_penyewa = $(this).data('nm_penyewa');
     var jk = $(this).data('jk');
     var alamat_penyewa = $(this).data('alamat_penyewa');
     var no_hp = $(this).data('no_hp');
     $('#EditModal').modal('show');
     $('.nm_penyewa').val(nm_penyewa);
     $('.jk').val(jk);
     $('.alamat_penyewa').val(alamat_penyewa);
     $('.no_hp').val(no_hp);
     $('.id_penyewa').val(id_penyewa);
   });
         //showing modal for delete record
         $('#mytable').on('click','.delete',function(){
     var product_id = $(this).data('id');
     $('#DeleteModal').modal('show');
     $('.product_id2').val(product_id);
   });

 });
</script>

<%- include ('footer'); -%>
