{{> header}} 

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h3 class="mt-4"></h3>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active"><h4>Tabel Data Peminjaman</h4></li>
            </ol>
            <div class="card mb-4">
                <div class="card-header"><button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModalAdd"> <i class="fas fa-plus fa-sm"></i> Tambah Data</button></div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="mytable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th scope="col">No. Transaksi</th>
                                    <th scope="col">Tanggal Peminjaman</th>
                                    <th scope="col">Id Petugas</th>
                                    <th scope="col">Id Penyewa</th>
                                    <th scope="col">No. Pol</th>
                                    <th scope="col">Gender</th>
                                    <th scope="col">Lama Peminjaman</th>
                                    <th scope="col">Harga</th>
                                    <th colspan="3"  scope="col">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each results}}
                               <tr>
                                 <td>{{no_transaksi}}</td>
                                 <td>{{tgl_peminjaman}}</td>
                                 <td>{{id_petugas}}</td>
                                 <td>{{id_penyewa}}</td>
                                 <td>{{no_pol}}</td>
                                 <td>{{jk}}</td>
                                 <td>{{lama_peminjaman}}</td>
                                 <td>{{harga}}</td>
                                 <td>
                                   <a href="javascript:void(0);" class="btn btn-sm btn-info edit mb-1"
                                   data-id="{{ no_transaksi }}" data-tgl_peminjaman="{{ tgl_peminjaman }}" data-id_petugas="{{ id_petugas }}"
                                   data-id_penyewa="{{ id_penyewa }}" data-no_pol="{{ no_pol }}" data-jk="{{ jk }}"data-lama_peminjaman="{{ lama_peminjaman }}"
                                   data-harga="{{ harga }}"><i class="fa fa-pencil-alt"></i></a><br>
                                   <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ no_transaksi }}"><i class="fa fa-trash-alt"></i></a>
                                 </td>
                               </tr>
                               {{/each}}
                             </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </main>

    	<!-- Menambahkan data Modal-->
	  <form action="/save_peminjaman" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabel">Input Data Peminjaman</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <div class="form-group">
                   <label> No. Transaksi</label>
                   <input type="text" name="no_transaksi" class="form-control" required>
               </div>

               <div class="form-group">
                 <label> Tanggal Peminjaman</label>
                 <input type="text" name="tgl_peminjaman" class="form-control" required>
               </div>

               <div class="form-group">
                 <label> Id Petugas</label>
                 <input type="text" name="id_petugas" class="form-control" required>
               </div>

               <div class="form-group">
                 <label> Id Penyewa</label>
                 <input type="text" name="id_penyewa" class="form-control" required>
               </div>

               <div class="form-group">
                 <label> No. Pol Kendaraan</label>
                 <input type="text" name="no_pol" class="form-control" required>
               </div>

               <div class="form-group">
                 <label> Jenis Kelamin</label>
                 <input type="text" name="jk" class="form-control" required>
               </div>

               <div class="form-group">
                 <label> Lama Peminjaman</label>
                 <input type="text" name="lama_peminjaman" class="form-control" required>
               </div>

               <div class="form-group">
                 <label> Harga</label>
                 <input type="text" name="harga" class="form-control" required>
               </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
            </div>
           </div>
         </div>
        </div>
	 </form>

     <!-- Edit Data Modal-->
   <form action="/update_peminjaman" method="post">
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLabel">Edit Data Peminjaman</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body">
           <div class="form-group">
               <label>Tanggal Peminjaman</label>
               <input type="text" name="tgl_peminjaman" class="form-control tgl_peminjaman" required>
           </div>

           <div class="form-group">
               <label>Id Petugas</label>
               <input type="text" name="id_petugas" class="form-control id_petugas" required>
           </div>

           <div class="form-group">
              <label>Id Penyewa</label>
              <input type="text" name="id_penyewa"class="form-control id_penyewa" required>
           </div>

           <div class="form-group">
              <label>No. Pol Kendaraan</label>
              <input type="text" name="no_pol"class="form-control no_pol" required>
           </div>

           <div class="form-group">
              <label>Jenis Kelamin</label>
              <input type="text" name="jk"class="form-control jk" required>
           </div>

           <div class="form-group">
              <label>Lama Peminjaman</label>
              <input type="text" name="lama_peminjaman"class="form-control lama_peminjaman" required>
           </div>

           <div class="form-group">
              <label>Harga</label>
              <input type="text" name="harga"class="form-control harga" required>
           </div>

        </div>
         <div class="modal-footer">
           <input type="hidden" name="no_transaksi" class="no_transaksi" required>
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           <button type="submit" class="btn btn-primary">Update</button>
         </div>
       </div>
     </div>
    </div>
</form>

  <!-- Hapus Data Modal-->
    <form id="add-row-form" action="/delete_peminjaman" method="post">
       <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Hapus Data Peminjaman</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 </div>

                 <div class="modal-body">
                    <strong>Anda yakin akan menghapus data ini?</strong>
                 </div>

                 <div class="modal-footer">
                    <input type="hidden" name="no_transaksi" class="form-control no_transaksi2" required>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Delete</button>
                 </div>
              </div>
          </div>
       </div>
   </form>

<script src="/public/js/jquery-3.3.1.js"></script>
<script>
 $(document).ready(function(){
         //menampilkan modal untuk edit data
   $('#mytable').on('click','.edit',function(){
     var no_transaksi= $(this).data('id');
     var tgl_peminjaman = $(this).data('tgl_peminjaman');
     var id_petugas = $(this).data('id_petugas');
     var id_penyewa = $(this).data('id_penyewa');
     var no_pol = $(this).data('no_pol');
     var jk = $(this).data('jk');
     var lama_peminjaman = $(this).data('lama_peminjaman');
     var harga = $(this).data('harga');
     $('#EditModal').modal('show');
     $('.tgl_peminjaman').val(tgl_peminjaman);
     $('.id_petugas').val(id_petugas);
     $('.id_penyewa').val(id_penyewa);
     $('.no_pol').val(no_pol);
     $('.jk').val(jk);
     $('.lama_peminjaman').val(lama_peminjaman);
     $('.harga').val(harga);
     $('.no_transaksi').val(no_transaksi);
   });
         //menampilkan modal untuk hapus data
  $('#mytable').on('click','.delete',function(){
     var no_transaksi = $(this).data('id');
     $('#DeleteModal').modal('show');
     $('.no_transaksi2').val(no_transaksi);
   });

 });
</script>

{{> footer}}
